.temperature {
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.button{
  margin: 5px;
  padding: 10px 20px;
  color: hsl(0, 0%, 0%);
  background-color: hsl(213, 89%, 78%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

.text{
  font-size: 2.5em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.paragraph{
  font-size: 1.5em;
  border: 3px solid hsl(213, 89%, 78%);
  background-color: hsl(213, 89%, 78%);
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;        
  text-align: center;    
}